<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App com Nodejs e Mongodb</h1>
    <p class="lead">lorem ipsum dolor sit amet consectetur adipiscing elit</p>
    <hr class="my4">
    <p> lorem ipsum dolor sit amet consectetur adipiscing elit
        lorem ipsum dolor sit amet consectetur adipiscing elit
        lorem ipsum dolor sit amet consectetur adipiscing elit
        lorem ipsum dolor sit amet consectetur adipiscing elit
        lorem ipsum dolor sit amet consectetur adipiscing elit
        lorem ipsum dolor sit amet consectetur adipiscing elit
        lorem ipsum dolor sit amet consectetur adipiscing elit</p>
        <a href="https://bispoo.com" class="btn btn-primary btn-lg">Bispoo</a>
    </p>
</div>