<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrando conta
            </div>
            <div class="card-body">
                <form action="/users/singup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nome" placeholder="Nome" value="{{nome}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="senha" placeholder="Senha" value="{{senha}}">
                    </div>        
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirma_senha" placeholder="Confirmar Senha" value="{{confirma_senha}}">
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Cadastrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>